.music {
  font-size: 0.8rem;

  .musicDetails {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 175px;

    .musicSinger {
      font-size: .75rem;
      color: #c1c1c1;
    }
  }

  .voteButton {
    font-size: 1rem;
    color: white;
    background-color: #c202ff;
    padding: 8px;
    border: 0;
    border-radius: 8px;

    &:hover {
      background-color: #db67ff;
      cursor: pointer;
    }
  }

  .iconButton {
    border: 0;
    background: none;

    &:hover {
      cursor: pointer;
    }
  }

  @media (min-width: 768px) {
    font-size: 1rem;

    .musicDetails {
      width: 400px;
    }
  }
}

td {
  padding: 12px 6px;
  text-align: left;
  border: 0;
  color: white;

  @media (min-width: 768px) {
    padding: 8px;
  }
}

.dialogContent {
  z-index: 3;
  background-color: #171717;
  border-radius: 8px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  max-width: 400px;
  margin: auto;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .dialogTitle {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.formContainer {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input {
    border: 0;
    outline: 1px solid #121212;
    border-radius: 8px;
    font-size: 1.25rem;
    padding: .75rem;
    background-color: #121212;
    color: #c1c1c1;
    box-shadow: rgba(0, 0, 0, 0.7) 1px 3px 5px;

    &:focus-within {
      outline: 1px solid #c202ff;
    }
  }

  .buttonsGroup {
    display: flex;
    gap: 1rem;

    .primaryButton {
      padding: 8px;
    }

    .secondaryButton {
      padding: 8px;
      flex-grow: 1;
    }
  }

  @media (min-width: 768px) {
    width: 350px;
  }
}
